.container{
    width: 70%;
    margin: 50px auto;
}

.cell{

}

li{
    list-style-type: none;
    height: 150px;
    color: white;
    font-size: 30px;
    text-align: center;
    padding: 30px;
}

.cell-1{
 background-color: #ff5f2e;
}

.cell-2{
    background-color: #fcbe32;
}

.cell-3{
    background-color: #004e66;
}

.cell-4{
    background-color: #490a3d;
}

.cell-5{
    background-color:#218380;
}

.cell-6{
    background-color: #D81159;
}

.cell-7{
    background-color: #9055A2;
}

.cell-8{
    background-color:#DE6449;
}

.cell-9{
    background-color: #4F86C6;
}
